:root {
    --color-titulo: #212529 !important;
    --bg-titulo: rgb(232, 235, 241);
    --bg-dark: #212529 !important;
}

body {
    background-color: var(--bg-dark);
}

.titulo {
    margin: 0px;
    color: var(--color-titulo);
    border: medium none;
    font-weight: 900;
    z-index: 1;
    font-size: 5.625rem;
}

header {
    background: url('../img/fondo.webp') 0% 0% no-repeat fixed;
    background-size: cover;
    padding-bottom: 5rem;
}

main {
    background: rgb(36, 40, 47) none repeat scroll 0% 0%;
    min-height: calc(-60px + 85vh);
}


.conatainer-search {
    background: url('../img/fondo.webp') 0% 0% no-repeat fixed;
    background-size: cover;
    padding-bottom: 1rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.conatainer-search input {
    height: 3rem;
    border-color: #0d6efd;
}

.icon-search {
    position: absolute;
    right: 10px;
    top: 26px;
    font-size: 1.8rem;
    z-index: 10;
}

.character-list {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    flex-flow: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.character-item {
    width: 196px;
    display: flex;
    background: rgb(36, 67, 59);
    justify-content: space-around;
    align-items: center;
    color: #fff;
    margin-right: 1rem;
    margin-bottom: 2rem;
    border-radius: 11px;
    padding: 20px;
}


.character-item img {
    width: 13vw;
    border-radius: 10px;
    margin-right: 0.5rem;
    border: 1px solid #2f6006;
}


@media(min-width:1093px){
    .character-item {
        width: 40%;
    }
}


@media(min-width:683px){
    .character-item {
        width: 57%;
    }
}

@media(min-width:617px){

    .character-list {
        flex-direction: column;
    }
    .character-item {
        width: 90%;
    }
}