:root{
    --color-titulo: #212529 !important;
    --bg-titulo:rgb(232, 235, 241);
}

.titulo{
    margin: 0px;
    color: var(--color-titulo);
    border: medium none;
    font-weight: 900;
    z-index: 1;
    font-size: 5.625rem;
}

header{
    background: url('https://lh3.googleusercontent.com/proxy/_7xdZWrNLZENs-PTmqD4eCfStU2bPyPgMMSNJQnBG_7QIRI6icCHDjWfhZRzBBVkpPDOKxjUrNq-xyjPVAdng6iX4OGOpWNNYjvDTfCe9bmt08MY37QAgr_VPNpsGJVJTwViIGBQKXWSXe-ZpN86fv8Y23wJxF2w486u2YCgtcElBVN1LpmGB729yBoWDInmqw38sPlUFJ2AjoKS0-EIzr2qL8kgZ7eFDSKH')  0% 110% no-repeat fixed; 
    background-size: cover;
    padding-bottom: 5rem;
}

main{
    background: rgb(36, 40, 47) none repeat scroll 0% 0%;
    min-height: calc(-60px + 85vh);
}

.conatainer-search{
    background: url('https://lh3.googleusercontent.com/proxy/_7xdZWrNLZENs-PTmqD4eCfStU2bPyPgMMSNJQnBG_7QIRI6icCHDjWfhZRzBBVkpPDOKxjUrNq-xyjPVAdng6iX4OGOpWNNYjvDTfCe9bmt08MY37QAgr_VPNpsGJVJTwViIGBQKXWSXe-ZpN86fv8Y23wJxF2w486u2YCgtcElBVN1LpmGB729yBoWDInmqw38sPlUFJ2AjoKS0-EIzr2qL8kgZ7eFDSKH') 0% 110% no-repeat fixed;
background-size: cover;
    padding-bottom: 1rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.conatainer-search input{
    height: 3rem;
    border-color: #0d6efd;
}